/*
!.gitignore
!README.md
!screenshots/
!projects/
!parrot-settings/

# Ignore system files
*.log
*.bak
*.tmp
.cache/
.config/
.local/
.mozilla/
.vscode/
.idea/
.bash_history
.DS_Store
node_modules/
__pycache__/
